html, body
{
    height: 100%;
}

body
{
    margin: 0px;
    padding: 0px;
    background: #334467;
    font-family: 'Questrial', sans-serif;
    font-size: 12pt;
    color: #E5EEFF;
}


h1, h3
{
    margin: 0;
    padding: 0;
    color: #404040;
}

h2
{
    margin: 0;
    padding: 0;
    color: #404040;
    font-size: 12pt;
}

p, ol, ul
{
    margin-top: 0;
}

ol, ul
{
    padding: 0;
    list-style: none;
}

p
{
    line-height: 180%;
    color: azure;
}

strong
{
}

a
{
    color: #16A085;
}

a:hover
{
    text-decoration: none;
}


.container
{
    margin: 0px auto;
    
}

.title {
  margin-bottom: 3em;
}


/*********************************************************************************/
/* Header                                                                        */
/*********************************************************************************/

#header-wrapper
{
    overflow: hidden;
    padding: 6em 0em 2em 0em;
}

#header
{
    text-align: center;
}

/*********************************************************************************/
/* Logo                                                                          */
/*********************************************************************************/

#logo
{
}

#logo h1
{
    display: inline-block;
    margin-bottom: 0.20em;
    padding: 0.20em 0.9em;
    font-size: 3.5em;
}

#logo a
{
    text-decoration: none;
    color: #FFF;
}

#logo span
{
    padding-right: 0.5em;
    text-transform: uppercase;
    font-size: 0.90em;
    color: rgba(255,255,255,1);
}

#logo span a
{
    color: rgba(255,255,255,0.8);
}

#logo img
{
  width:15%;
  height:auto;
}
/*********************************************************************************/
/* font                                                                         */
/*********************************************************************************/

@font-face
{
	font-family: 'FontAwesome';
	src: url('fonts/fontawesome-webfont.eot?v=3.0.1');
	src: url('fonts/fontawesome-webfont.eot?#iefix&v=3.0.1') format('embedded-opentype'),
	     url('fonts/fontawesome-webfont.woff?v=3.0.1') format('woff'),
	     url('fonts/fontawesome-webfont.ttf?v=3.0.1') format('truetype'),
	     url('fonts/fontawesome-webfont.svg#FontAwesome') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face
{
	font-family: 'Font-Awesome-Social';
	src: url('fonts/fontawesome-social-webfont.eot');
	src: url('fonts/fontawesome-social-webfont.eot?#iefix') format('embedded-opentype'),
	     url('fonts/fontawesome-social-webfont.woff') format('woff'),
		 url('fonts/fontawesome-social-webfont.ttf') format('truetype'),
		 url('fonts/fontawesome-social-webfont.svg#Font-Awesome-More') format('svg');
	font-weight: normal;
	font-style: normal;
}


/*********************************************************************************/
/* menu                                                                        */
/*********************************************************************************/

#menu
{
}

#menu ul
{
    /*display: inline-block;*/
    padding: 0em 2em;
    text-align: center;
    background:#334467;
}

#menu li
{
    /*display: inline-block;*/
}

#menu li a, #menu li span
{
    /*display: inline-block;*/
    /*padding: 1.3em 1.5em;*/
    text-decoration: none;
    font-size: 0.90em;
    font-weight: 600;
    text-transform: uppercase;
    outline: 0;
    color: #FFF;
}

#menu li:hover a, #menu li.active a, #menu li.active span
{
    color:#e6ba19;
}

#menu .current_page_item a
{
    color: #FFF;
}

#menu nav {
    height:5em;
    background:#334467;
}

#menu .container {
    background:#334467;
}



#welcome .title h2
{
    color: #FFF;
    text-align: center;
}

/* =================================== */
/*  Start Header Area CSS
/* =================================== */
.header_area .navbar {
    background: #334467;
    padding: 0px;
    border: 0px;
    border-radius: 0px; }
    .header_area .navbar .logo_h {
      color: #fff;
      height: 80px;
      text-align: center;
      line-height: 69px;
      font-size: 30px;
      text-transform: uppercase;
      font-weight: 700; }
    .header_area .navbar .navbar-brand {
      padding-top: 0; }
    .header_area .navbar .nav .nav-item {
      margin-right: 45px; }
      .header_area .navbar .nav .nav-item .nav-link {
        font: 500 12px/80px "Josefin Sans", sans-serif;
        text-transform: capitalize;
        color: #FFFFFF;
        padding: 0px;
        display: inline-block;
        font-size: 15px; }
        .header_area .navbar .nav .nav-item .nav-link:after {
          display: none; }
      .header_area .navbar .nav .nav-item:hover .nav-link, .header_area .navbar .nav .nav-item.active .nav-link {
        color: #FFFFFF; }
      .header_area .navbar .nav .nav-item.submenu {
        position: relative; }
        .header_area .navbar .nav .nav-item.submenu ul {
          border: none;
          padding: 0px;
          border-radius: 0px;
          box-shadow: none;
          margin: 0px;
          background: #fff;
          box-shadow: 0px 3px 16px 0px rgba(0, 0, 0, 0.1); }
          @media (min-width: 992px) {
            .header_area .navbar .nav .nav-item.submenu ul {
              position: absolute;
              top: 120%;
              left: 0px;
              min-width: 200px;
              text-align: left;
              opacity: 0;
              transition: all 300ms ease-in;
              visibility: hidden;
              display: block;
              border: none;
              padding: 0px;
              border-radius: 0px; } }
          .header_area .navbar .nav .nav-item.submenu ul:before {
            content: "";
            width: 0;
            height: 0;
            border-style: solid;
            border-width: 10px 10px 0 10px;
            border-color: #eeeeee transparent transparent transparent;
            position: absolute;
            right: 24px;
            top: 45px;
            z-index: 3;
            opacity: 0;
            transition: all 400ms linear; }
          .header_area .navbar .nav .nav-item.submenu ul .nav-item {
            display: block;
            float: none;
            margin-right: 0px;
            border-bottom: 1px solid #ededed;
            margin-left: 0px;
            transition: all 0.4s linear; }
            .header_area .navbar .nav .nav-item.submenu ul .nav-item .nav-link {
              line-height: 45px;
              color: #33353b;
              padding: 0px 30px;
              transition: all 150ms linear;
              display: block;
              margin-right: 0px; }
            .header_area .navbar .nav .nav-item.submenu ul .nav-item:last-child {
              border-bottom: none; }
            .header_area .navbar .nav .nav-item.submenu ul .nav-item:hover .nav-link {
              background: #ff7a7f;
              color: #fff; }
        @media (min-width: 992px) {
          .header_area .navbar .nav .nav-item.submenu:hover ul {
            visibility: visible;
            opacity: 1;
            top: 100%; } }
        .header_area .navbar .nav .nav-item.submenu:hover ul .nav-item {
          margin-top: 0px; }
      .header_area .navbar .nav .nav-item:last-child {
        margin-right: 0px; }
  .header_area.navbar_fixed .main_menu {
    position: fixed;
    width: 100%;
    top: -70px;
    left: 0;
    right: 0;
    background: #fff;
    transform: translateY(70px);
    transition: transform 500ms ease, background 500ms ease;
    -webkit-transition: transform 500ms ease, background 500ms ease;
    box-shadow: 0px 3px 16px 0px rgba(0, 0, 0, 0.1);
    z-index: 9999; }
    .header_area.navbar_fixed .main_menu .navbar .nav .nav-item .nav-link {
      line-height: 70px; }
  
  /*--------------------------------------------------------------
  # Navigation Menu
  --------------------------------------------------------------*/
  /* Nav Menu Essentials */
  .nav-menu,
  .nav-menu * {
    margin: 0;
    padding: 0;
    list-style: none; }
  
  .nav-menu ul {
    position: absolute;
    display: none;
    top: 100%;
    left: 0;
    z-index: 99;
    background: rgba(255, 255, 255, 0.9); }
  
  .nav-menu li {
    position: relative;
    white-space: nowrap; }
  
  .nav-menu > li {
    float: left; }
  
  .nav-menu li:hover > ul,
  .nav-menu li.sfHover > ul {
    display: block; }
  
  .nav-menu ul ul {
    top: 0;
    left: 100%; }
  
  .nav-menu ul li {
    min-width: 180px;
    text-align: left; }
  
  /* Nav Menu Arrows */
  .sf-arrows .sf-with-ul {
    padding-right: 30px; }
  
  .sf-arrows .sf-with-ul:after {
    content: "\f107";
    position: absolute;
    right: 15px;
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal; }
  
  .sf-arrows ul .sf-with-ul:after {
    content: "\f105"; }
  
  /* Nav Meu Container */
  #nav-menu-container {
    margin: 0; }
  
  /* Nav Meu Styling */
  .nav-menu a {
    padding: 0 8px 0px 8px;
    text-decoration: none;
    display: inline-block;
    color: #2a2a2a;
    font-weight: 500;
    font-size: 12px;
    text-transform: uppercase;
    outline: none; }
  
  .nav-menu > li {
    margin-left: 10px; }
  
  .nav-menu ul {
    margin: 20px 0 0 0;
    padding: 10px;
    box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
    background: #fff; }
  
  .nav-menu ul li {
    transition: 0.3s; }
  
  .nav-menu ul li a {
    padding: 10px;
    color: #333;
    transition: 0.3s;
    display: block;
    font-size: 12px;
    text-transform: none; }
  
  .nav-menu ul li:hover > a {
    color: #ff7a7f; }
  
  .nav-menu ul ul {
    margin: 0; }
  
  /* Mobile Nav Toggle */
  #mobile-nav-toggle {
    position: fixed;
    right: 15px;
    z-index: 999;
    top: 30px;
    border: 0;
    background: none;
    font-size: 24px;
    display: none;
    transition: all 0.4s;
    outline: none;
    cursor: pointer; }
  
  #mobile-nav-toggle i {
    color: #ff7a7f;
    font-weight: 900; }
  
  @media (max-width: 960px) {
    #mobile-nav-toggle {
      display: inline; }
  
    #nav-menu-container {
      display: none; } }
  /* Mobile Nav Styling */
  #mobile-nav {
    position: fixed;
    top: 0;
    padding-top: 18px;
    bottom: 0;
    z-index: 998;
    background: rgba(0, 0, 0, 0.8);
    left: -260px;
    width: 260px;
    overflow-y: auto;
    transition: 0.4s; }
  
  #mobile-nav ul {
    padding: 0;
    margin: 0;
    list-style: none; }
  
  #mobile-nav ul li {
    position: relative; }
  
  #mobile-nav ul li a {
    color: #fff;
    font-size: 13px;
    text-transform: uppercase;
    overflow: hidden;
    padding: 10px 22px 10px 15px;
    position: relative;
    text-decoration: none;
    width: 100%;
    display: block;
    outline: none;
    font-weight: 700; }
  
  #mobile-nav ul li a:hover {
    color: #fff; }
  
  #mobile-nav ul li li {
    padding-left: 30px; }
  
  #mobile-nav ul .menu-has-children i {
    position: absolute;
    right: 0;
    z-index: 99;
    padding: 15px;
    cursor: pointer;
    color: #fff; }
  
  #mobile-nav ul .menu-has-children i.fa-chevron-up {
    color: #ff7a7f; }
  
  #mobile-nav ul .menu-has-children li a {
    text-transform: none; }
  
  #mobile-nav ul .menu-item-active {
    color: #ff7a7f; }
  
  #mobile-body-overly {
    width: 100%;
    height: 100%;
    z-index: 997;
    top: 0;
    left: 0;
    position: fixed;
    background: rgba(0, 0, 0, 0.7);
    display: none; }
  
  /* Mobile Nav body classes */
  body.mobile-nav-active {
    overflow: hidden; }
  
  body.mobile-nav-active #mobile-nav {
    left: 0; }
  
  body.mobile-nav-active #mobile-nav-toggle {
    color: #fff; }
  

/*********************************************************************************/
/* Page                                                                          */
/*********************************************************************************/

#page-wrapper
{
  overflow: hidden;
  padding: 3em 0em 0em 0em;
  text-align: center;
}

/*********************************************************************************/
/* Banner                                                                        */
/*********************************************************************************/

#aboutbanner{
  border: none;
  margin: 0 auto;
  padding: 16px 0;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: -1;
  left: 0;
  top: 0;
  overflow: hidden;
}

#background--image-canvas {
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.aboutimage:before {
  margin: 0 auto;
  content:url(https://i.redd.it/9wn4rylie1v31.png);
  background-position: center center;
  object-fit: cover;

  width: 100%;
  height: 200px;
  overflow: hidden;
  display: block;

  position:relative;
}

.aboutimage .text {
  z-index: -1;
  text-align: center;
  color: white;
  background-color: rgba(0,0,0,0.5);
  left: 100px;
  position:absolute;
}