/*page*/
#page-wrapper
{
  /*overflow: hidden;*/
  text-align: center;
  background-color:var(--bg);
}

#page {
  background-color:var(--bg);
}

@media (max-width: 575px) 
{
  .navbar {
    margin-left:0px;
    margin-right:0px;
    padding-left:15px !important;
    padding-right:15px !important;  
  }

  .banner-image{
    margin-left:auto;
    margin-right:auto;
    background-color: white;
    overflow: hidden;
  } 

  .navbar-expand-md .navbar-nav .nav-link {
    padding-right:1rem !important;
    padding-left:1rem !important;
    font-weight: 500;
    font-size: large;
  }

  .footer-settings{
    font-size:90%;
    height:150px;
    padding-left:0.5em;
  }

  .footer-box {
    margin-top:10px !important;
    height:25px !important;
  }

  .footer-sns {
    display:none;
  }

  #footer-sns-mobile {
    display:inline;
  }

  .nav-link{
    text-align: center;
    padding:0 !important;
  }

  .navbar-brand {
    max-width:70% !important;
    align-content: right;
  }



  .col-12 {
    margin-top : 10px !important;
    margin-bottom :10px !important;
  }

  .gallery-box-description-layer {
    margin-left:15px !important;
    margin-right:15px !important;
  }

  #navbar {
    padding-top:10% !important;
    padding-bottom:5% !important;
  }

  .accordian-answer{
    font-size: medium;
  }

  .logo{
    padding-right: 15px !important;
  }

  .navbar-subheading-bottom-menu {
    padding-left:15px !important;
    padding-right:15px !important;
    width:90%;

  }

  .container {
    padding-left:0px !important;
    padding-right:0px !important;
  } 

  .banner-text {
    height: 100%;
    padding-top: 8vw;
    
  }

  .banner-image-web {
    display:none !important;
  }

  .banner-image-mobile {
    display:inline !important;
    margin-bottom:0px;
  }

  .img {
    margin-bottom : 0px;
  }

  .banner-text h1 {
    padding-top:30% ;
    font-size: 10vw;
  }

  .banner-text p {
    padding-top: 10px !important;
    font-size: 4vw;
  }

  .content-padding {
    padding-left :15px !important;
    padding-right: 15px !important;
  }

  .aboutus-quote-margin{
    font-size: large;
  }

  .faq-quote-margin{
    font-size: x-large;
    margin-top: 30px !important;
  }

  .aboutus-text{
    font-size: small;
    font-weight: 400;
    margin-bottom: 20px;
  }

  .class-heading-top{
    font-size: medium;
    font-weight: 500;
  }
  
  .class-heading{
    font-size: medium;
    font-weight: 500;
    margin-top: 20px;
    margin-bottom: 0px !important;
  }
  
  .class-text{
    font-size: small;
    font-weight: 400;
    margin-bottom: 20px;
    color:dimgrey !important;
  }
}

@media (min-width: 576px) {
  .navbar {
    margin-left:auto;
    margin-right:auto;
    padding-left:15px !important;
    padding-right:15px !important;
    /*width:530px;*/
  }

  .banner-image {
    margin-left:auto;
    margin-right:auto;
    height: auto;
    background-color: white;
    overflow: hidden;
  }

  .navbar-expand-md .navbar-nav .nav-link {
    padding-right:1rem !important;
    padding-left:1rem !important;
  }

  .footer-settings{
    font-size:1em;
    height:150px;
  }

  .footer-box {
    margin-top:10px !important;
    height:25px !important;
  }

  .footer-sns {
    display:none;
  }

  #footer-sns-mobile {
    display:inline;
  }

  .nav-link{
    text-align: center;
  }

  .gallery-mobile .gallery-box{
    /*display:none;*/
    margin-bottom : 20px;
  }

  .gallery-mobile p{
    display:none;    
  }

  .blank-space {
    height: 60px !important;
  }

  .navbar-subheading-bottom {
    width: 576px !important;
    max-width: 576px !important;
  }

  .nav-link{
    padding: 0 1.5rem !important;
  }

  .accordian-answer{
    font-size: medium;
  }
  .container {
    padding-left:0px !important;
    padding-right:0px !important;
  }

  .navbar-subheading-bottom-menu {
    padding-left:15px !important;
    padding-right:15px !important;
    width:576px;
  }

  .row {
    width:560px !important;
    margin-left : -10px !important;
  }

  .banner-text {
    height: 142.1px;
    padding-top: 5px;
  }
  .banner-text h1 {
    font-size: 2rem;
  }

  .banner-text p {
    padding-top: 10px !important;
    font-size: 0.9rem;

  }

  .aboutus-quote-margin{
    font-size: large;
  }

  .faq-quote-margin{
    font-size: x-large;
  }

  .aboutus-text{
    font-size: medium;
    font-weight: 400;
    margin-bottom: 20px;
  }

  .class-heading-top{
    font-size: large;
    font-weight: 550;
  }
  
  .class-heading{
    font-size: large;
    font-weight: 550;
    margin-top: 25px;
    margin-bottom: 0px !important;
  }
  
  .class-text{
    font-size: medium;
    font-weight: 400;
    margin-bottom: 25px;
    color:dimgrey !important;
  }
}

@media (min-width: 768px) {
  .navbar {
    margin-left:auto;
    margin-right:auto;
    padding-left:15px !important;
    padding-right:15px !important;
    /*width:740px;*/
  }

  .banner-image {
    margin-left:auto;
    margin-right:auto;
    height: auto;
    background-color: white;
    overflow: hidden;
  }

  .navbar-expand-md .navbar-nav .nav-link {
    padding-right:0.6rem !important;
    padding-left:0.6rem !important;
    font-size:1.1em;
  }

  .footer-settings{
    font-size:0.66em;
    height:60px;
    padding-top:10px;
    padding-bottom:10px;
  }

  .footer-sns {
    display:inline;
  }

  #footer-sns-mobile {
    display:none;
  }

  .navbar-brand {
    max-width:50% !important;
  }

  /*
  #navbar {
    height: 200px;
  }
  */

  .accordianquestion{
    font-size: large !important;
  }

  .navbar-subheading-bottom {
    width: 768px !important;
    max-width: 768px !important;

  }

  .nav-link{
    padding: 0 1.5rem !important;
    font-size: x-large;
  }

  .accordian-answer{
    font-size: medium;
  }

  .navbar-subheading-bottom-menu{
    height: 40px !important;
  }

  .container {
    padding-left:0px !important;
    padding-right:0px !important;
  }

  .navbar-subheading-bottom-menu {
    padding-left:15px !important;
    padding-right:15px !important;
    width:768px;
  }

  .row {
    width:740px !important;
    margin-left : -10px !important;
  }

  .banner-text {
    height: 189.47px;
    padding-top: 15px;
  }

  .banner-text h1 {
    font-size: 2.3rem;
  }

  .banner-text p {
    padding-top: 10px !important;
    font-size: 1rem;
  }

  .aboutus-quote-margin{
    font-size: x-large;
  }

  .faq-quote-margin{
    font-size: xx-large;
  }

  .footer-box-email{
    padding-left: 0 !important;
  }
}

@media (min-width: 992px) {
  .navbar {
    margin-left:auto;
    margin-right:auto;
    padding-left:15px !important;
    padding-right:15px !important;
    /*width: 980px;*/
  }

  .banner-image {
    margin-left:auto;
    margin-right:auto;
    height: auto;
    background-color: white;
    overflow: hidden;
  }

  .navbar-expand-md .navbar-nav .nav-link {
    padding-right:0.8rem !important;
    padding-left:0.8rem !important;
    font-size:1.3em;
  }

  .footer-settings{
    font-size:0.85em;
    height:70px;
    padding-top:15px;
    padding-bottom:20px;
  }

  .footer-sns {
    display:inline;
  }

  #footer-sns-mobile {
    display:none;
  }

  .blank-space {
    height: 70px !important;
  }

  .navbar-subheading-bottom {
    width: 992px !important;
    max-width: 992px !important;
  }

  .nav-link{
    padding: 0 1.5rem !important;
  }

  .accordian-answer{
    font-size: medium;
  }

  .container {
    padding-left:0px !important;
    padding-right:0px !important;
  }

  .navbar-subheading-bottom-menu {
    padding-left:15px !important;
    padding-right:15px !important;
    width:992px;
  }

  .row {
    width:977px !important;
    margin-left : -10px !important;
  }

  
  .banner-text {
    height: 252.63px;
    padding-top: 40px;
  }

  .banner-text h1 {
    font-size: 2.7rem;
  }

  .banner-text p {
    padding-top: 10px !important;
    font-size: 1.1rem;
  }

  .aboutus-quote-margin{
    font-size: xx-large;
  }

  .faq-quote-margin{
    font-size: xx-large;
  }

  .aboutus-text{
    font-size: large;
    font-weight: 500;
    margin-bottom: 30px;
  }

  .class-heading-top{
    font-size: larger;
    font-weight: 600;
  }
  
  .class-heading{
    font-size: larger;
    font-weight: 600;
    margin-top: 30px;
    margin-bottom: 0px !important;
  }
  
  .class-text{
    font-size: large;
    font-weight: 500;
    margin-bottom: 30px;
    color:dimgrey !important;
  }

}
@media (min-width: 1200px) {
  .navbar {
    margin-left:auto;
    margin-right:auto;
    padding-left:15px !important;
    padding-right:15px !important;
    /*width: 1160px;*/
  }

  .banner-image{
    margin-left:auto;
    margin-right:auto;
    height: 300px;
    background-color: white;
    overflow: hidden;
  }

  .navbar-expand-md .navbar-nav .nav-link {
    padding-right:1rem !important;
    padding-left:1rem !important;
    font-size:1.5em;
  }

  .footer-settings{
    font-size:1em;
    height:88px;
    padding-top:20px;
    padding-bottom:20px;
  }

  .footer-sns {
    display:inline;
  }

  #footer-sns-mobile {
    display:none;
  }

  .navbar-subheading-bottom {
    width: 1200px !important;
    max-width: 3000px !important;

  }

  .nav-link{
    padding: 0 1.5rem !important;
  }

  .accordian-answer{
    font-size: large;
  }

  .logo{
    width: 315px !important;
    padding-right: 25px !important;
  }

  .container {
    padding-left:0px !important;
    padding-right:0px !important;
    
  }

  .navbar-subheading-bottom-menu {
    padding-left:15px !important;
    padding-right:15px !important;
    width:1200px;
  }

  .row {
    width:1160px !important;
    margin-left : -10px !important;
  }

  .banner-text {
    height: 300px;
    padding-top: 70px;
  }
  .banner-text h1 {
    font-size: 2.7rem;
  }

  .banner-text p {
    padding-top: 10px !important;
    font-size: 1.1rem;
  }
}

/*Index Page*/

.index {
  background-color:var(--bg);
  color:black;
}

.title {
  text-align:center;
}

.index-image {
  width:80%;
  text-align:center;
  padding-top:20px;
  padding-bottom:20px;
}

#welcome {
  padding-top:5em;
}

/*banner*/
/*
.banner-image{
  width: 1920px;
  height: 300px;
  background-color: white;
  overflow: hidden;
}
*/

.carousel-image{
  margin-top: 4vw !important;
  margin-bottom: 4vw !important;
  width: 100%;
  overflow: hidden;
}

.banner-image{
  
  margin-top: 4vw !important;
  margin-bottom: 4vw !important;
  width: 100%;
  /*padding-left: 0 !important;
  padding-right: 0 !important;*/
}

.banner-image h1{
  z-index: 2;
  color: white;
  padding-top: 20px;
  max-width: 100%;
  vertical-align: middle;
}

.banner-image h2{
  z-index: 2;
  color: white;
  vertical-align: middle;
}

.banner-image p{
  z-index: 2;
  color: white;
  padding-top: 20px;
  max-width: 100%;
}

.banner-image img {
  z-index: 1;
  position: relative;
}

.banner-text {
  position: absolute;
  background-color: rgba(0,0,0,0.5);
  z-index: 2;
  width:100%;  
}

.row {
  display:inline-block;
}

.blank-space{
  height: 40px;
}

/*about box*/
.about-box{

  margin: 20px 20px;
  background-color:white;
  display: inline-block;
}

.contact-box{

  margin: 10px 0px;
  background-color:white;
  display: inline-block;
  padding: 10px 10px 10px 10px;
  position: relative;
}

.contact-box h3{
  color: black !important;
  text-align: left !important;
  font-size: larger !important;
}

.contact-box p{
  color: black !important;
  text-align: left !important;
}

/*porfolio */


.gallery-desktop .gallery-box{

  -webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadein 2s; /* Firefox < 16 */
   -ms-animation: fadein 2s; /* Internet Explorer */
    -o-animation: fadein 2s; /* Opera < 12.1 */
       animation: fadein 2s;
}

.gallery-box{
  margin: 0px 0px;
  display: inline-block;
  position:relative;
}


.gallery-desktop .gallery-box:hover {
  transform: scale(1.05);
  transition-duration:0.5s;
}

.col-4 {
  width:25%;
  padding-top: 10px !important;
  padding-bottom: 10px !important;
  padding-left: 10px !important;
  padding-right: 10px !important;

}

.gallery-box-inner {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;  
}

.gallery-image{
  max-height: 350px;
  min-width: 200px;
  /*padding-top: 5px;*/

}

.gallery-box-description-layer {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.459);
  color: #fff;
  visibility: hidden;
  opacity: 0;
  display: flex;
  align-items: center;
  justify-content: center;

  /* transition effect. not necessary */
  transition: opacity .2s, visibility .2s;


}

.gallery-desktop .gallery-box-description-layer {
  border-radius: 20px 20px 20px 20px;

}

.gallery-box:hover .gallery-box-description-layer {
  visibility: visible;
  opacity: 1;
}

.gallery-box-description {
  transition: .2s;
  transform: translateY(1em);
}

.gallery-box:hover .gallery-box-description {
  transform: translateY(0);
}

.gallery-box img {
  margin:0px;


}

.gallery-desktop .gallery-box img {
  border-radius: 15px 15px 15px 15px;

}

.gallery-mobile p{
  margin-bottom:0px !important;
  background-color: #dbdbdb;
  border-bottom-left-radius: 20px;
  font-weight: 500;
}

.gallery-box-loadmore {
  background-color: #fff7f0;
  margin-top: 20px;
  border: 1px solid #e2d0bf;
  border-radius: 5px;
  height: 40px;
  width: 130px;
}

.filter-button .btn-outline-primary:hover {
  background-color : #ff408d !important;
  color: white !important;
}

.btn-primary{
  background-color: #ff408d !important;
  border-color: #ff408d !important;
  font-weight: 500 !important;
  margin-left: 5px !important;
  margin-right: 5px !important;
  margin-bottom: 10px !important;
}

.btn-outline-primary{
  color: #222 !important;
  font-weight: 400 !important;
  border-color: #ff408d !important;
  margin-left: 5px !important;
  margin-right: 5px !important;
  margin-bottom: 10px !important;
}

/*

.btn-outline-primary:focus .btn-outline-primary:active:focus .btn-outline-primary.active:focus,
.btn-outline-primary.focus .btn-outline-primary:active.focus .btn-outline-primary.active.focus {
    outline: none;
}

.btn-primary:focus .btn-primary:active:focus .btn-primary.active:focus,
.btn-primary.focus .btn-primary:active.focus .btn-primary.active.focus {
    outline: none;
}

*/

/*faq accordian font*/
.accordianfont{
  text-align: left !important;
  padding-top: 40px;
}

.accordianquestion{
  font-size: medium;
  font-weight: bold;
  color: #2a2a2a !important;
  text-align: left;
}

.accordian-answer{
  margin-left: 15px;
}

.accordian-answer-lastline{
  margin-bottom: 0 !important;
}

.faq-quote-margin{
  margin-top: 6vw;
}

/* Nav Bar */
#navbar {
  background-color: var(--nav-bg);
  padding-top:70px;
}

.navbar {
  background-color: #444444 !important;
  align-content : center;
  padding: 0 0 !important;
  margin-left: auto;
  margin-right: auto;

  position: -webkit-sticky !important;
  position: sticky !important;
  top : 0;
  z-index : 100;
}

.navbar img {
  margin-bottom:0px;
}

.nav-link{
  color: white !important;
  font-weight: bold;
  display: inline-flex !important;
  padding: 0 2rem;
}

.navbar-padding {
  padding-right : 0.5rem ;
  padding-left : 0.5rem ;
}

.navbar-brand {
  margin-right: 0 !important;
  margin-left: 1rem !important;
  padding-bottom: .2rem !important;
}

.navbar-subheading-top{
  background-color: black !important;
  height: 15px !important;
  width: 100% !important;
}

.navbar-subheading-bottom{
  background-color: #444444 !important;
  height: fit-content !important;

  text-align: right;
  font-weight: bold;
  color: #7a7a7a;

  display:inline !important;
}

.navbar-subheading-bottom p{
  margin-bottom: 0;
  text-align:left;
} 

.navbar-subheading-bottom-menu{
  background-color: #444444 !important;
  height: 30px;

  text-align: center;
  font-weight: bold;
  color: white;
  word-spacing: 40px;

  justify-content: space-between;
  display:flex;
  margin-left:auto;
  margin-right:auto;
}

.dropdown-menu {
  background-color : #fbfbfb !important;
}

.dropdown-menu a:hover {
  background-color : #fbfbfb !important;
  color : #ff408d  !important;
}

.dropdown-menu a:active, .dropdown-menu a:visited{
  color :white  !important;
}

.dropdown:hover .dropdown-menu {
  display: block;
  margin-top: 0; 
}

.navbar .nav-link:hover {
  color: #ff408d  !important; 
}



/* Logo */
.logo {
  width:300px !important;
  height:auto;
  display:inline-block !important;
  top: 15px;
  z-index: 100;
  padding-right: 10px;
  position:relative;
}


.container{
  position: relative;
}

/*
.container div{
  padding-left: 0 !important;
  padding-right: 0 !important;
}
*/

/* Footer */

.footer-settings{
  background-color:#444444 ;
}

.footer-box{
  margin-top: 20px;
  display: inline-block;
  height: 50px;
  font-weight: 500;
  color: #f5f5f5;
}

.icon-box {
  text-align: right;
} 

p.footer-box-connect{
  text-align: center;
  font-weight: 300;
}

.footer-sns {
  text-align:right;
  float:right;
}

.footer-logo-colour{
  color:#989898;
}

.footer-box a {
  color:#f5f5f5;
}

.footer-box a:active, .footer-box a:visited {
  color:#f5f5f5;
}

.footer-box a:hover {
  color:#ff408d;
}
    
/* Dark Mode */
body {
  --bg:white;
  --bg-nav:white;
  --textNormal: #222;
  --textTitle: #222;
  --textLink: black;
  --hr: hsla(0, 0%, 0%, 0.2);

  background-color: var(--bg);
}

body.dark {
  -webkit-font-smoothing: antialiased;

  --bg: white;
  --textNormal: rgba(255, 255, 255, 0.88);
  --textTitle: white;
  --textLink: yellow;
  --hr: hsla(0, 0%, 100%, 0.2);
}

.header-subheading{
  height: 10px;
  background-color: #2a2a2a;
  margin-left: auto;
  margin-right: auto;
}

.newline{
  white-space: pre-wrap;
}

.banner-subheading{
  font-size: large;
  font-weight: 400;
}

.banner-image-web {
  display:inline;
  margin-bottom: 0;
}

.banner-image-mobile {
  display:none;
}

/*ABOUT US*/

.aboutus-quote-margin{
  margin-top: 0;
  margin-bottom: 5vw;
}

.aboutus-left-col{
  height: fit-content;
  text-align: left;
}

.aboutus-right-col{
  height: 270px;
  text-align: left;
  margin-top: 150px;
}

.aboutus-image{
  margin-bottom: 30px;
  width: fit-content;
}

/*CLASS*/

.class-left-col{
  height: fit-content;
  text-align: left;
}

.class-right-col{
  height: 650px;
  text-align: left;
}

.class-image{
  margin-top: 60px;
  width: fit-content;
}

.class-heading{
  margin-bottom: 0px !important;
}

.class-text{
  color:dimgrey !important;
}

/*하이퍼링크 밑줄 제거*/
#page a {
  text-decoration: none;
}

/*페이지 오른편에 흰색 바 제거*/
.navbar, #page-wrapper, .footer-settings{
  overflow-x: hidden !important;
}



























@keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}
