/*page*/
#page-wrapper
{
  overflow: hidden;
  text-align: center;
  background-color:seashell;
}

@media (max-width: 768px) 
{
  .navbar .logo {
    margin-left:0px !important;
  }

  .navbar-nav {
    margin-right:0px !important;
  }
}

/*Index Page*/

.index {
  background-color:var(--bg);
  color:black;
}

.title {
  text-align:center;
}

.index-image {
  width:80%;
  text-align:center;
  padding-top:20px;
  padding-bottom:20px;
}

#welcome {
  padding-top:5em;
}

/*banner*/
.banner-image{
  width: 1920px;
  height: 300px;
  background-color: white;
  overflow: hidden;
}

.banner-image h1{
  z-index: 2;
  color: white;
  padding-top: 20px;
  max-width: 100%;
  vertical-align: middle;
}

.banner-image h2{
  z-index: 2;
  color: white;
  vertical-align: middle;
}

.banner-image p{
  z-index: 2;
  color: white;
  padding-top: 20px;
  max-width: 100%;
}

.banner-image img {
  z-index: 1;
  position: relative;
}

.banner-text {
  position: absolute;
  background-color: rgba(0,0,0,0.5);
  z-index: 2;
  width: 100%;
  height:300px;
  padding-top: 60px;
}

.row {
  display:inline-block;
}

.blank-space{
  height: 25px;
}

/*about box*/
.about-box{

  margin: 20px 20px;
  background-color:white;
  display: inline-block;
}

.contact-box{

  margin: 10px 0px;
  background-color:seashell;
  display: inline-block;
  padding: 10px 10px 10px 10px;
  position: relative;
}

.contact-box h3{
  color: black !important;
  text-align: left !important;
  font-size: larger !important;
}

.contact-box p{
  color: black !important;
  text-align: left !important;
}

/*porfolio */
.gallery-box{
  margin: 0px 0px;
  display: inline-block;
  position:relative;
}

.col-4 {
  width:25%;
  padding-top: 10px !important;
  padding-bottom: 10px !important;
  padding-left: 10px !important;
  padding-right: 10px !important;

}

.gallery-box-inner {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;  
}

.gallery-image{
  max-height: 350px;
  min-width: 200px;
  /*padding-top: 5px;*/
}

.gallery-box-description-layer {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.459);
  color: #fff;
  visibility: hidden;
  opacity: 0;
  display: flex;
  align-items: center;
  justify-content: center;

  /* transition effect. not necessary */
  transition: opacity .2s, visibility .2s;
}

.gallery-box:hover .gallery-box-description-layer {
  visibility: visible;
  opacity: 1;
}

.gallery-box-description {
  transition: .2s;
  transform: translateY(1em);
}

.gallery-box:hover .gallery-box-description {
  transform: translateY(0);
}

.gallery-box img {
  margin:0px;
}


/*faq accordian font*/
.accordianfont{
  text-align: left !important;
  padding-top: 40px;
}

.accordianquestion{
  font-size: larger;
  font-weight: bold;
  color: #2a2a2a !important;
}

/* Nav Bar */
.navbar {
  background-color:#fbfbfb !important;
}

.navbar img {
  margin-bottom:0px;
}

.navbar .logo {
  margin-left:3em;
}

.nav-link{
  color:black !important;
  font-weight: bold;
}

.navbar-padding {
  padding-right : 0.5rem !important;
  padding-left : 0.5rem !important;
}

.navbar-nav {
  margin-right:3em;
}


.dropdown-menu {
  background-color : #fbfbfb !important;
}

.dropdown-menu a:hover {
  background-color : #fbfbfb !important;
  color : #1a50b4  !important;
}

.dropdown-menu a:active, .dropdown-menu a:visited{
  color :#1a50b4  !important;
}

.dropdown:hover .dropdown-menu {
  display: block;
  margin-top: 0; 
}

.navbar .nav-link:hover {
  color: #1a50b4  !important; 
}



/* Logo */
.logo {
  width:200px;
  height:auto;
}


.container{
  position: relative;
}

/* Footer */

.footer-settings{
  background-color: seashell;
}

hr.copyright {
  border-top: 2px solid navajowhite;
}

div.copyright{
  height: 50px;
}

p.copyright{
  text-align: center;
  font-weight: bold;
}

.footer-box{
  margin-top: 50px;
  display: inline-block;
  height: 110px;
}

h1.footer-box-font{
  font-size: x-large;

  font-weight: bold;
}

p.footer-box-font{

  font-weight:500;
}

p.footer-box-connect{
  text-align: center;
  font-weight: 300;
}

.footer-box-connect a {
  color:#000000;
}

.footer-box-connect a:hover, .footer-box-connect a:active, .footer-box-connect a:visited {
  color:#000000;
}

/* Dark Mode */
body {
  --bg: white;
  --textNormal: #222;
  --textTitle: #222;
  --textLink: blue;
  --hr: hsla(0, 0%, 0%, 0.2);

  background-color: var(--bg);
}

body.dark {
  -webkit-font-smoothing: antialiased;

  --bg: rgb(255, 255, 255);
  --textNormal: rgba(255, 255, 255, 0.88);
  --textTitle: white;
  --textLink: yellow;
  --hr: hsla(0, 0%, 100%, 0.2);
}