/*page*/
#page-wrapper
{
  overflow: hidden;
  padding: 3em 0em 0em 0em;
  text-align: center;
}

/*banner*/
.banner-image{
  width: 100%;
  height: 300px;
  background-color: white;
  overflow: hidden;
}

.banner-image h1{
  z-index: 2;
  color: white;
  padding-top: 20px;
  max-width: 100%;
  vertical-align: middle;
}

.banner-image p{
  z-index: 2;
  color: white;
  padding-top: 20px;
  max-width: 100%;
  vertical-align: middle;

}

.banner-image img {
  z-index: 1;
  max-width: 100%;
  position: relative;
}

.banner-text {
  position: absolute;
  background-color: rgba(0,0,0,0.5);
  z-index: 2;
  width: 100%;
  height:300px;
  vertical-align: middle;
}


/*about box*/
.about-box{

  margin: 20px 20px;
  background-color:#334467;
  display: inline-block;
}

.contact-box{

  margin: 10px 5px;
  background-color:#334467;
  display: inline-block;
  padding: 10px 10px 10px 10px;
  position: relative;
}

.contact-box h3{
  color: #E5EEFF !important;
  text-align: left !important;
  font-size: larger !important;
}

.contact-box p{
  color: #E5EEFF !important;
  text-align: left !important;
}

/*faq accordian font*/
.accordianfont{
  text-align: left !important;
  padding-top: 40px;
}

.accordianquestion{
  font-size: larger;
  font-weight: bold;
  color: #2a2a2a !important;
}

/* Logo */
.logo {
  width:15%;
  height:auto;
}

/* Nav Bar */
.header_area .navbar {
  position : relative;
}




