
/*********************************************************************************/
/* Menu                                                                          */
/*********************************************************************************/

#menu
{
}

#menu ul
{
    display: inline-block;
    padding: 0em 2em;
    text-align: center;
}

#menu li
{
    display: inline-block;
}

#menu li a, #menu li span
{
    display: inline-block;
    padding: 1.3em 1.5em;
    text-decoration: none;
    font-size: 0.90em;
    font-weight: 600;
    text-transform: uppercase;
    outline: 0;
    color: #FFF;
}

#menu li:hover a, #menu li.active a, #menu li.active span
{
    color:#e6ba19;
}

#menu .current_page_item a
{
    color: #FFF;
}

#menu nav {
    height:5em;
}